body{

}
h3{
    color: forestgreen;
    text-align: center;
}
.fex{ 
    text-align: center;
    margin-top: 1cm;
    font-size: medium;
 
}
.qaz{
    margin-left:0.0000cm;
     
}
.ikm{
    margin-left: 2.4cm;
}
